{{- $scratch := newScratch }}

{{- if not .Date.IsZero -}}
{{- $scratch.Add "meta" (slice (.Date.Format (default "2006年6月2日" .Site.Params.DateFormat))) }}
{{- end }}

{{- if (.Param "ShowReadingTime") -}}
{{- $scratch.Add "meta" (slice (i18n "read_time" .ReadingTime | default (printf "%d 分钟" .ReadingTime))) }}
{{- end }}

{{- if .Params.tags }}
{{- $scratch.Add "tags" .Params.tags }}
{{- end }}
{{/*- $scratch.Add "meta" .Tags */}}

{{- with (partial "author.html" .) }}
{{- $scratch.Add "meta" (slice .) }}
{{- end }}

{{- with ($scratch.Get "meta") }}
{{- delimit . "&nbsp;·&nbsp;" -}}
{{- end -}}

{{- with ($scratch.Get "tags") }}
{{- delimit . "&nbsp;,&nbsp;" -}}
{{- end -}}
